<div class="media" *ngIf="tweet">
    <!-- Profile Picture -->
    <img class="d-flex mr-3" [src]="tweet.authorImageUrl" alt="Profile Picture"/>

    <!-- Content -->
    <div class="media-body">
        <!-- Author Name -->
        <h5 class="mt-0">{{tweet.authorName}}</h5>
        <!-- Tweet Body -->
        <p>{{tweet.text}}</p>
        <!-- Creation Date and Source Link -->
        <span class="text-muted">{{tweet.createdAt}}</span> | <a
            [href]="'https://twitter.com/go/status/' + tweet.statusId">Tweet Source</a>
    </div>
</div>