<sk-header></sk-header>
<div class="container d-flex align-items-center">
    <div class="row align-items-center justify-content-center w-100 no-gutters">

        <div class="col-12 col-md-8 mb-3">
            <div class="card card-body">
                <sk-tweet [tweet]="tweetForVoting"></sk-tweet>
            </div>
        </div>

        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-lg btn-block btn-outline-success" [disabled]="!tweetForVoting" (click)="voteShill()">SHILL <i class="fa fa-rocket"></i></button>
                        </div>
                        <div class="col">
                            <button class="btn btn-lg btn-block btn-outline-danger" [disabled]="!tweetForVoting" (click)="voteShill()">KILL <i class="fa fa-anchor"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<sk-footer></sk-footer>