<sk-header></sk-header>
<div class="container d-flex align-items-center">
    <div class="row align-items-center justify-content-center w-100 no-gutters">

        <div class="col-12 col-md-8 mb-3">
            <div class="card card-body">
                <sk-tweet [tweet]="null"></sk-tweet>
            </div>
        </div>

        <div class="col-12 col-md-8">
            <div class="card card-body">
                Buttons area
            </div>
        </div>

    </div>
</div>
<sk-footer></sk-footer>