.header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    line-height: 50px;

    font-family: "Droid Sans", sans-serif;
    background-color: rgba(255,255,255,0.6);
}

.logo {
    width: 100%;
    padding: 10px 0;
}